@model List<Myfirst.Models.Customer>
@{
    ViewBag.Title = "Index";
}
<h2>@Html.ActionLink("Create New", "Create", "Customer", null, new { @class = "btn btn-outline-primary" })</h2>


<table class="table table-bordered table-hover">

    <tr>
        <th>Id</th>
        <th>Name</th>


    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, new { @class = "nav-link" })</td>
            <td>@Html.ActionLink("Edit","Edit","Customer",new { id=customer.Id},new { @class="btn btn-outline-success"})|
            @Html.ActionLink("Delete","Delete","Customer",new {id=customer.Id },new {@class="btn btn-outline-danger" })</td>
        </tr>
    }
</table>
